<div class="center-container">
    <mat-card class="example-card">
        <div class="">
            <h1 class="">Login</h1>
        </div>
        <mat-card-content class="mat-card">
            <form class="fullwidth" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="fill" class="input-field">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email">
                </mat-form-field>
                <mat-form-field appearance="fill" class="input-field">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password"
                        [type]="hidePassword ? 'password' : 'text'">
                    <button mat-button matSuffix (click)="togglePasswordVisibility()">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </mat-form-field>
                <div class="">
                    <a href="">Forgot Password?</a>
                </div>
                <button mat-raised-button color="primary" type="submit" class="center-button"
                    style="width: 100%;">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>