<mat-sidenav-container class="example-container" autosize>
    <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
        <mat-nav-list>
            <mat-list-item class="parent">
                <span class="full-width" *ngIf="isExpanded">Parent Menu</span>
                <mat-icon mat-list-icon>home</mat-icon>
            </mat-list-item>  
            <mat-list-item class="parent">
                <span class="full-width" *ngIf="isExpanded">Parent Menu</span>
                <mat-icon>favorite</mat-icon>
            </mat-list-item>  
            <mat-list-item class="parent">
                <span class="full-width" *ngIf="isExpanded">Parent Menu</span>
                <mat-icon>bookmark</mat-icon>
            </mat-list-item>  
            <mat-list-item class="parent">
                <span class="full-width" *ngIf="isExpanded">Parent Menu</span>
                <mat-icon>delete</mat-icon>
            </mat-list-item>
            <mat-list-item class="parent">
                <span class="full-width" *ngIf="isExpanded">Parent Menu</span>
                <mat-icon>open_in_new</mat-icon>
            </mat-list-item>  
            <mat-list-item class="parent">
                <span class="full-width" *ngIf="isExpanded">Parent Menu</span>
                <mat-icon>menu</mat-icon>
            </mat-list-item>
            <mat-list-item class="parent">
                <span class="full-width" *ngIf="isExpanded">Parent Menu</span>
                <mat-icon>more_vert</mat-icon>
            </mat-list-item>  
            <mat-list-item class="parent">
                <span class="full-width" *ngIf="isExpanded">Parent Menu</span>
                <mat-icon>bookmark</mat-icon>
            </mat-list-item>
            <mat-list-item class="parent">
                <span class="full-width" *ngIf="isExpanded">Parent Menu</span>
                <mat-icon>plus_one</mat-icon>
            </mat-list-item>  
            <mat-list-item class="parent">
                <span class="full-width" *ngIf="isExpanded">Parent Menu</span>
                <mat-icon>filter_list</mat-icon>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>