<div class="d-flex justify-content-center text-center">
    <mat-card>
        <div class="">
            <h1 class="">Login</h1>
        </div>
        <mat-card-content>
            <form class="d-flex flex-column" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline" class="input-field">
                    <mat-label>Email</mat-label>
                    <input matInput class="border-0" type="email" formControlName="email">
                </mat-form-field>
                <mat-form-field appearance="outline" class="input-field">
                    <mat-label>Password</mat-label>
                    <input matInput class="border-0" type="password" formControlName="password"
                        [type]="hidePassword ? 'password' : 'text'">
                    <button mat-button matSuffix (click)="togglePasswordVisibility()">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" class="w-full">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>